body {
  background-color: #202022;
  color: #d0d0d0;
  font-family: Arial, sans-serif;
  margin:0;
  padding:0;
}

.light-mode {
  background-color: ivory;
  color: #202020;
}

header {
  background-color: #303036;
  padding-top: 10px;
  padding-bottom:15px;
  width: full;
  color: #f45;
}

button {
  background-color: #f45;
  color:#fff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:monospace;
  border-radius:10px;
  min-width: 130px;
}

nav.mode {
  display: inline;
  margin-left: 850px;
}

div.menu ul {
  display: inline;
  margin-left: 0;
  padding-left: 0;
}

div.menu li {
  border-style: none solid none none;
  display: inline;
}

div.menu a {
  text-decoration: none;
  font-weight: bold;
  font-size:18px;
  padding-inline: 20px;
  font-family:monospace;
}

ul a {
  color:#bbb;
  text-decoration:none;
  border-style:none;
  font-size:24px;
  font-weight: bold;
}

h1 {
  margin:0;
  margin-bottom:10px;
  font-size: 69px;
  text-align: center;
  font-family: 'Arial Black',serif;
}

h2 {
  font-family: Bahnschrift,sans-serif;
}

heading {
  font-size: 40px;
  text-align: center;
}

h3 {
  margin:0;
  text-align:center;
  font-family: Bahnschrift,sans-serif;
  color:#bbb;
}

main {
  padding: 50px;
  box-shadow: 0 0 20px #000 inset;
}

article {
  margin-bottom: 20px;
  text-align: justify;
  font-family: Bahnschrift,sans-serif;
  line-height: 2;
  max-width: 1000px;
  margin-inline: auto;
}


p {
  font-size: 24px;  
}

p a {
  text-decoration: none;
  color:#f45;
}

h3 a {
  text-decoration: none;
  color:#88f;
}

footer {
  text-align: center;
  color: #999;
  font-family: Verdana,sans-serif;
}

d {
  text-shadow: 0 0 20px #000;
  color:#505095;
}